*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(27, 27, 27);
    text-align: center;
    
}

.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}
h1{
    color: white;
    font-size: 1.5rem;
    margin-top: 2rem;

    
}

.box{
    height: 18vmin;
    width: 18vmin;
    border:none;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 1rem;
    box-shadow: -1 1 0.5rem rgba(184, 184, 184, 0.1);
    background-color: rgb(29, 29, 29) ;
    color: rgb(255, 17, 17);
    font-size: 8vmin;
    transition: border 150ms ease-in;
}

.box:hover{
    border: 1px solid  rgb(62, 62, 62);
    transform: scale(1.03);
}


#reset{
    padding: 0.5rem 1rem;
    color: rgb(255, 1, 1);
    background-color: white;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 1.25rem rgba(0,0,0,0.3);


}

#newbtn{
    padding: 0.5rem 1rem;
    color: rgb(67, 251, 0);
    background-color: transparent;
    border-radius: 0.5rem;
    border: 1px solid white;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 0 1.25rem rgba(0,0,0,0.3);

}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 0.60rem;
    
}

.hide{
    visibility: hidden;
}

.msg-container{
    margin-top: 2rem;
}

.msg{
    font-size: 1.5rem;
    color: rgb(16, 16, 16);
    background-color: rgb(255, 255, 255);
    display: inline;
    padding: 0.5rem 1.25rem;
    border-radius: 0.5rem;
}
